torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
timm>=0.9.12
transformers>=4.41.0
opencv-python>=4.9.0
scikit-image>=0.22.0
scipy>=1.11.4
pandas>=2.2.0
numpy>=1.26.4
matplotlib>=3.8.0
seaborn>=0.13.2
scikit-learn>=1.4.0
albumentations>=1.4.3
pyyaml>=6.0.1
rich>=13.7.1
einops>=0.7.0